body {
  font-family: 'Special Elite', cursive;
  font-size: 12px;
  cursor: none;
}

h3 {font-weight: normal; font-size: 25px; margin-top: 1px;}

h4 {font-size: 15px; margin-top: -20px;}

a {color: #ff0000;}



/* open book CSS */

#book {
    display: none; /* hides the book and the inner table */
    width: 700px;
    height: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    background-color: aqua;
    box-shadow: 30px 30px 100px #999999;
    opacity: 0.9;
    z-index: 3;
}

table {
    width: 680px;
    height: 480px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    background-color: beige;
    z-index: 4;
}


#footer {
  font-size: 10px;
  line-height: 0.5;
  display: block;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

#info {
  position: absolute;
  width: 800px;
  margin-left: -400px;
  left: 50%;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

#container {
  position: absolute;
  display: block;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  overflow: hidden;
  border: 1px solid #cccccc;
  z-index: 0;
}

canvas {
  display: block;
  margin: auto;
  width: 100%;
  pointer-events: none;
}

#cursor {
  position: absolute;
  left: -1000px;
  top: -1000px;
  z-index: 1;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 6px; 
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  border: 1px solid #ff0000; 
}



#label {
position: fixed;
white-space: nowrap;
}